.App {
  height: 100%;
  display: grid;
  grid-template-columns: 130px 1fr 1fr 130px;
}

.forms {
  display: grid;
  grid-column: 2/4;
  justify-items: center;
  align-items: center;
  margin: 0 15%;
  column-gap: 40px;
}

.header {
  justify-self: start;
  margin-top: 20px;
  margin-left: 30px;
}

.github {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.codesandbox {
  width: 40px;
  height: 40px;
}

.App .forms > div:nth-child(1) {
  grid-column: 1/2;
}

.App .forms > div:nth-child(2) {
  grid-column: 3/4;
}

.App .forms > div {
  height: fit-content;
  width: 450px;
}

.App button {
  margin-top: 30px;
  width: 100%;
}

h2 {
  display: inline;
}

.App .card-header img {
  width: 60px;
  height: 64px;
}

.App .card-header {
  display: flex;
  justify-content: center;
}

.App .submitting {
  padding-left: 10px;
}

@media (max-width: 1350px) {
  .App {
    grid-template-columns: 130px auto auto;
  }

  .forms {
    margin: 0 5%;
  }
}

@media (max-width: 1180px) {
  .App {
    grid-template-columns: 130px auto auto;
  }

  .forms {
    display: grid;
    grid-column: 2/4;
    justify-items: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
  }

  .App .forms > div:nth-child(1) {
    grid-column: 1/4;
  }

  .App .forms > div:nth-child(2) {
    grid-column: 1/4;
  }
}
