.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-left: 12%;
  margin-right: 12%;
}

.App > div {
  height: fit-content;
  width: 450px;
}

.App button {
  margin-top: 30px;
  width: 100%;
}

.MuiTextField-root {
  width: 100%;
}

h2 {
  display: inline;
}

.App img {
  width: 60px;
}

.App .header {
  display: flex;
  justify-content: center;
}

.App .submitting {
  padding-left: 10px;
}
